*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    background-color: #FAFAFA;
    padding-top: 30px;
    padding-bottom: 20px;
}
#header-menu{
    display: flex;
    gap: 35px;
}
#header-menu li{
    list-style: none;
}
#header-menu a:hover{
    color: #2CB9AD !important;
}
#header a{
    color: #797D86;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.5sease-in-out;
    font-size: 19px;
}
#header-menu-login{
    display: flex;
    gap: 35px;
}
.login{
    color: #FAFAFA !important;
    transition: all 0.5s ease-in-out;
    padding: 12px 32px;
    border: none;
    border-radius: 50px;
    background-color: #2C2D2F;
}
.login:hover {
    transform: scale(1.025);
    outline: 2px solid #57d3c9;
    box-shadow: 4px 5px 17px -4px #2CB9AD;
    background-color: #2CB9AD;
}
#menu-main{
    color: #2CB9AD !important;
}

#inner-banner{
    width: 100%;
    padding-left: 40px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    height: 290px;
    background-image: url('../storage/rentalCar/inner-banner.png');
}
#inner-banner h3{
    font-weight: 900;
    font-size: 70px;
    line-height: 120%;
    color: #FAFAFA;
    margin: 0 0 0 50px;
}


.contact-container {
    width: 80%;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 700px;
}

.contact-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: #2C2D2F;
    margin-bottom: 10px;
}


.contact-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: #797D86;
    margin-bottom: 50px;
}

.contact-form-group {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.contact-input, .contact-textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 14px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
}

.contact-textarea {
    border-radius: 10px;
    height: 200px;
    resize: none;
    margin-bottom: 20px;
}

.contact-submit-btn {
    width: 100%;
    padding: 15px;
    background: #222;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
    margin-top: 40px;
    transition: all 0.5s ease-in-out;
}

.contact-submit-btn:hover {
    transform: scale(1.025);
    outline: 2px solid #57d3c9;
    box-shadow: 4px 5px 17px -4px #2CB9AD;
    background-color: #2CB9AD;
}


#footer{
    width: 100%;
    height: 486px;
    position: relative;
}
#footer-left{
    row-gap: 10px;
    padding-top: 100px;
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    background-image: url('../storage/home/footer-shape.png');
    width: 490px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 486px;

}
#footer-left>p{
    font-size: 20px;
    margin-right: 10px;
}
.footer-icon{
    display: flex;
    gap: 10px;
    align-items: flex-end;
    cursor: pointer;
    color: #FAFAFA;
    transition: color 1s ease;
}
.footer-icon:hover{
    color: #1B1C1E;
}
.footer-icon i{
    font-weight: 100;
    font-size: 25px;
}
#footer-left>p{
    font-size: 15px;
    margin: 15px 0;
}
#footer-logo{
    display: flex;
    gap: 30px;
}
#footer-logo i{
    color: #FAFAFA;
    font-size: 30px;
    transition: color 1s ease-in-out;
    cursor: pointer;
}
#footer-logo i:hover{
    color: #1B1C1E;
}
#footer h4{
    font-size: 20px;
    color: #FAFAFA;
    margin-top: 10px;
}
#footer h5{
    font-size: 20px;
    margin-top: 10px;
}
#footer-logo-car{
    position: absolute;
    top: 100px;
    left: 40%;
    transform: translateY(-50%);
    width: 300px;
    height: auto;
}
#footer-logo-car img, #footer-car img{
    width: 100%;
    height: auto;
}
#footer-car{
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
}
#scrollToTop{
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3ECCC0;
    color: black;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1003;
    font-size: 25px;
    border: none;
    cursor: pointer;
}
#scrollToTop:hover{
    background-color: #06c6b6;
}
#map {
    height: 500px;
    width: 100%;
    margin: 30px 0;
    border-radius: 8px;
}